:root {
  // ---------- COLOURS
  --color-neutral-100: 0, 0%, 100%;
  --color-neutral-150: 0, 0%, 98%;
  --color-neutral-500: 227, 14%, 52%;
  --color-neutral-700: 227, 35%, 45%;
  --color-neutral-900: 227, 22%, 26%;

  --color-primary: 228, 100%, 66%;
  --color-error: 0, 83%, 65%;

  // ---------- FONTS
  --fw-regular: 400;
  --fw-bold: 700;
  --fs-primary: 1rem;
  --ff-primary: 'Kumbh Sans', sans-serif;

  // ---------- BODY
  --body-font: var(--fw-regular) var(--fs-primary) var(--ff-primary);
  --body-color: hsl(var(--color-neutral-500));
  --body-bg: hsl(var(--color-neutral-150));

  // ---------- LINKS
  --link-decoration: none;
  --link-decoration-active: none;
  --link-fw: var(--fw-bold);
  --link-color: hsl(var(--color-neutral-500));
  --link-color-active: hsla(var(--color-neutral-500), 0.5);
  --link-transition: 200ms linear all;
}
