:root {
  // ---------- COLOURS
  --color-neutral-100: 0, 0%, 100%;
  --color-neutral-150: 0, 0%, 98%;
  --color-neutral-500: 227, 14%, 52%;
  --color-neutral-700: 227, 35%, 45%;
  --color-neutral-900: 227, 22%, 26%;

  --color-primary: 228, 100%, 66%;
  --color-error: 0, 83%, 65%;

  // ---------- FONTS
  --fw-regular: 400;
  --fw-bold: 700;
  --fs-primary: 1rem;
  --ff-primary: 'Kumbh Sans', sans-serif;

  // ---------- BODY
  --body-font: var(--fw-regular) var(--fs-primary) var(--ff-primary);
  --body-color: hsl(var(--color-neutral-500));
  --body-bg: hsl(var(--color-neutral-150));

  // ---------- LINKS
  --link-decoration: none;
  --link-decoration-active: none;
  --link-fw: var(--fw-bold);
  --link-color: hsl(var(--color-neutral-500));
  --link-color-active: hsla(var(--color-neutral-500), 0.5);
  --link-transition: 200ms linear all;

  // ---------- COMPONENTS

  // -------- Forms

  // ------ Form Wrapper
  --form-wrapper-color: hsla(var(--color-neutral-500), 0.5);
  --form-wrapper-bg: hsl(var(--color-neutral-100));
  --form-wrapper-radius: 13px;
  --form-wrapper-box-shadow: 0px 50px 50px -25px hsla(var(--color-neutral-700), 0.25);
  --form-wrapper-padding: 2.5rem 2.625rem;
  --form-wrapper-width: 20.4375rem;

  @media (min-width: 48em) {
    --form-wrapper-width: 27.8125rem;
  }

  // ------ Form Group
  --form-group-margin-top: 1.5rem;

  // ------ Form Control
  --form-control-color: hsl(var(--color-neutral-900));
  --form-control-border-bottom: 1px solid hsla(var(--color-neutral-500), 0.25);
  --form-control-margin-top: 1.5rem;
  --form-control-padding-inline: 1rem;
  --form-control-padding-bottom: 1rem;

  --form-control-placeholder-color: hsla(var(--color-neutral-500), 0.5);

  --form-control-outline: 0;

  @media (min-width: 48em) {
  }

  // ------ Custom Select
  --custom-select-fw: var(--fw-bold);
  --custom-select-toggle-icon-transition: transform 300ms;

  --custom-select-plan-price-color: hsla(var(--color-neutral-900), 0.4);
  --custom-select-plan-price-margin-left: 0.5rem;

  --custom-select-active-bg: hsl(var(--color-neutral-100));
  --custom-select-active-border: 1px solid hsla(var(--color-neutral-500), 0.15);
  --custom-select-active-radius: 8px;
  --custom-select-active-box-shadow: var(--form-wrapper-box-shadow);
  --custom-select-active-padding: 1.5rem 2rem;

  --custom-select-option-color: hsl(var(--color-neutral-900));
  --custom-select-option-border-bottom: var(--form-control-border-bottom);
  --custom-select-option-margin-top: 1.5rem;
  --custom-select-option-padding-bottom: var(--form-control-padding-bottom);

  // ------ Form Submit Button
  --form-submit-btn-margin-top: 2.5rem;

  // ------ Form Validation
  --form-validation-error-icon-transform: translateX(-2.5rem);

  // -------- Buttons
  --btn-fw: var(--fw-bold);
  --btn-color: hsl(var(--color-neutral-100));
  --btn-bg: hsl(var(--color-primary));
  --btn-bg-active: hsl(228, 100%, 75%);
  --btn-radius: 99vw;
  --btn-transition: var(--link-transition);
  --btn-padding-block: 0.875rem;
}
