:root {
  // ---------- COLOURS
  --color-neutral-100: 0, 0%, 100%;
  --color-neutral-150: 0, 0%, 98%;
  --color-neutral-500: 227, 14%, 52%;
  --color-neutral-700: 227, 35%, 45%;
  --color-neutral-900: 227, 22%, 26%;

  --color-primary: 228, 100%, 66%;
  --color-error: 0, 83%, 65%;

  // ---------- FONTS
  --fw-regular: 400;
  --fw-bold: 700;
  --fs-primary: 1rem;
  --ff-primary: 'Kumbh Sans', sans-serif;

  // ---------- BODY
  --body-font: var(--fw-regular) var(--fs-primary) var(--ff-primary);
  --body-color: hsl(var(--color-neutral-500));
  --body-bg: hsl(var(--color-neutral-150));

  // ---------- LINKS
  --link-decoration: none;
  --link-decoration-active: none;
  --link-fw: var(--fw-bold);
  --link-color: hsl(var(--color-neutral-500));
  --link-color-active: hsla(var(--color-neutral-500), 0.5);
  --link-transition: 200ms linear all;

  // ---------- COMPONENTS

  // -------- Forms

  // ------ Form Wrapper
  --form-wrapper-color: hsla(var(--color-neutral-500), 0.5);
  --form-wrapper-bg: hsl(var(--color-neutral-100));
  --form-wrapper-radius: 13px;
  --form-wrapper-box-shadow: 0px 50px 50px -25px hsla(var(--color-neutral-700), 0.25);
  --form-wrapper-padding: 2.5rem 2.625rem;
  --form-wrapper-width: 20.4375rem;

  @media (min-width: 48em) {
    --form-wrapper-width: 27.8125rem;
  }

  // ------ Form Group
  --form-group-margin-top: 1.5rem;

  // ------ Form Control
  --form-control-color: hsl(var(--color-neutral-900));
  --form-control-border-bottom: 1px solid hsla(var(--color-neutral-500), 0.5);
  --form-control-margin-top: 1.5rem;
  --form-control-padding-left: 1rem;
  --form-control-padding-bottom: 1rem;

  --form-control-placeholder-color: hsla(var(--color-neutral-500), 0.5);

  --form-control-outline: 3px solid hsla(var(--color-primary), 0.4);
  --form-control-outline-offset: 0.25em;
  --form-control-outline-radius: 1px;

  @media (min-width: 48em) {
  }
}
