@use '../abstracts' as abstract;

// ----- Form Wrapper
.form-wrapper {
  color: var(--form-wrapper-color);
  background-color: var(--form-wrapper-bg);
  border-radius: var(--form-wrapper-radius);
  box-shadow: var(--form-wrapper-box-shadow);
  padding: var(--form-wrapper-padding);
  width: var(--form-wrapper-width);
}

// ----- Form Group
.form-group {
  margin-top: var(--form-group-margin-top);
  border-bottom: var(--form-control-border-bottom);

  &:first-child {
    margin-top: 0;
  }
}

.form-group.form-alert {
  border-bottom: 1px solid hsl(var(--color-error));

  input {
    color: hsl(var(--color-error)) !important;
  }
}

// ----- Form Control
.form-control {
  color: var(--form-control-color);
  border: 0;
  padding-inline: var(--form-control-padding-inline);
  padding-bottom: var(--form-control-padding-bottom);

  &::placeholder {
    color: var(--form-control-placeholder-color);
  }

  @include abstract.focus {
    outline: var(--form-control-outline);
  }
}

// ----- Custom Select
.custom-select {
  font-weight: var(--custom-select-fw);
  cursor: pointer;
  position: relative;

  &__visible {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__toggle-icon img {
    transform: rotate(0deg);
    transition: var(--custom-select-toggle-icon-transition);
  }

  &__toggle-icon.rotate img {
    transform: rotate(180deg);
  }

  &__plan span {
    &:nth-child(even) {
      color: var(--custom-select-plan-price-color);
      margin-left: var(--custom-select-plan-price-margin-left);
    }
  }

  &__hidden {
    display: none;
  }

  &__hidden.active {
    background-color: var(--custom-select-active-bg);
    border: var(--custom-select-active-border);
    border-radius: var(--custom-select-active-radius);
    box-shadow: var(--custom-select-active-box-shadow);
    padding: var(--custom-select-active-padding);
    z-index: 999;
    position: absolute;
    left: 0;
    top: 115%;
    display: block;
    width: 100%;
    height: fit-content;
  }

  &__option {
    color: var(--custom-select-option-color);
    border-bottom: var(--custom-select-option-border-bottom);
    margin-top: var(--custom-select-option-margin-top);
    padding-bottom: var(--custom-select-option-padding-bottom);
    display: flex;
    justify-content: space-between;
    align-items: center;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      border-bottom: 0;
      padding-bottom: 0;
    }
  }

  &__selected-icon {
    display: none;
  }
}

// ----- Form Submit
form {
  button {
    margin-top: var(--form-submit-btn-margin-top);
  }
}

// ----- Form Validation
.form-error {
  position: absolute;
  transform: var(--form-validation-error-icon-transform);
}
